.pic {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.5s;
}

.pic:hover {
  transform: scale(1.1) translate(1px, 1px);
}