.words {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.abCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  /* 5px rounded corners */
  /* margin-left: auto;
  margin-right: auto; */
  width: 600px;
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

/* Add rounded corners to the top left and the top right corner of the image */
/* img {
  border-radius: 5px 5px 0 0;
} */